absl-py==2.0.0
addict==2.4.0
aiohttp==3.9.3
aiosignal==1.3.1
albumentations==1.3.1
altair==5.5.0
annotated-types==0.7.0
anyio==4.4.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.2
blinker==1.8.2
build==1.2.2
cachetools==5.5.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
chroma-hnswlib==0.7.6
chromadb==0.5.7
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.0
contextlib2==21.6.0
contourpy==1.0.0
cycler==0.11.0
ddpm==1.0.0
decorator==5.1.1
Deprecated==1.2.14
diffusers==0.27.1
distro==1.9.0
dm-tree==0.1.8
docx==0.2.4
durationpy==0.7
easydict==1.11
einops==0.7.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.115.0
filelock==3.13.1
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==23.5.26
fonttools==4.25.0
frozenlist==1.4.1
fsspec==2023.10.0
future==1.0.0
gdown==4.7.1
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.35.0
googleapis-common-protos==1.65.0
grad-cam==1.4.8
grpcio==1.62.1
h11==0.14.0
h5py==3.10.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
huggingface-hub==0.25.0
humanfriendly==10.0
hydra-core==0.11.3
idna==3.4
imageio==2.33.0
imgviz==1.7.4
importlib-metadata==7.0.1
importlib-resources==5.10.0
ipython==8.18.1
ipywidgets==8.1.1
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
jiter==0.5.0
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyterlab-widgets==3.0.9
keras==3.0.1
kiwisolver==1.3.2
kornia==0.7.2
kornia_rs==0.1.2
kubernetes==31.0.0
labelme==3.16.2
lazy_loader==0.3
libtiff==0.4.2
lightning-utilities==0.11.0
lmdb==1.4.1
lxml==5.3.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.5.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mindspore==2.2.11
mkl-fft==1.3.6
mkl-random==1.3.0
mkl-service==2.4.0
ml-collections==0.1.1
mlxtend==0.23.0
mmengine==0.10.3
mmh3==5.0.1
monai==1.3.0
monotonic==1.6
mpmath==1.3.0
msgpack==1.0.8
msgpack-numpy==0.4.8
multidict==6.0.5
munch==4.0.0
munkres==1.1.4
namex==0.0.7
narwhals==1.15.2
natsort==8.4.0
networkx==3.2.1
numpy==1.21.2
oauthlib==3.2.2
omegaconf==1.4.1
onnxruntime==1.16.3
openai==1.7.0
opencv-python==4.9.0.80
opencv-python-headless==4.8.1.78
openpyxl==3.1.2
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt_einsum==3.4.0
orjson==3.10.7
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.1
pandas==2.1.0
par
