absl-py==2.0.0
addict==2.4.0
aiohttp==3.9.3
aiosignal==1.3.1
albumentations==1.3.1
altair==5.5.0
annotated-types==0.7.0
anyio==4.4.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.2
blinker==1.8.2
build==1.2.2
cachetools==5.5.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
chroma-hnswlib==0.7.6
chromadb==0.5.7
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.0
contextlib2==21.6.0
contourpy @ file:///C:/b/abs_d5rpy288vc/croots/recipe/contourpy_1663827418189/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
ddpm==1.0.0
decorator==5.1.1
Deprecated==1.2.14
diffusers==0.27.1
distro==1.9.0
dm-tree==0.1.8
docx==0.2.4
durationpy==0.7
easydict==1.11
einops==0.7.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.115.0
filelock==3.13.1
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==23.5.26
fonttools==4.25.0
frozenlist==1.4.1
fsspec==2023.10.0
future==1.0.0
gdown==4.7.1
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.35.0
googleapis-common-protos==1.65.0
grad-cam==1.4.8
grpcio==1.62.1
h11==0.14.0
h5py==3.10.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
huggingface-hub==0.25.0
humanfriendly==10.0
hydra-core==0.11.3
idna==3.4
imageio==2.33.0
imgviz==1.7.4
importlib-metadata==7.0.1
importlib-resources @ file:///tmp/build/80754af9/importlib_resources_1625135880749/work
ipython==8.18.1
ipywidgets==8.1.1
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
jiter==0.5.0
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyterlab-widgets==3.0.9
keras==3.0.1
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
kornia==0.7.2
kornia_rs==0.1.2
kubernetes==31.0.0
labelme==3.16.2
lazy_loader==0.3
libtiff==0.4.2
lightning-utilities==0.11.0
lmdb==1.4.1
lxml==5.3.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib @ file:///C:/b/abs_085jhivdha/croot/matplotlib-suite_1693812524572/work
matplotlib-inline==0.1.6
mdurl==0.1.2
mindspore==2.2.11
mkl-fft==1.3.6
mkl-random @ file:///C:/Users/dev-admin/mkl/mkl_random_1682977971003/work
mkl-service==2.4.0
ml-collections==0.1.1
mlxtend==0.23.0
mmengine==0.10.3
mmh3==5.0.1
monai==1.3.0
monotonic==1.6
mpmath==1.3.0
msgpack==1.0.8
msgpack-numpy==0.4.8
multidict==6.0.5
munch==4.0.0
munkres==1.1.4
namex==0.0.7
narwhals==1.15.2
natsort==8.4.0
networkx==3.2.1
numpy @ file:///C:/b/abs_f6napi3n6e/croot/numpy_and_numpy_base_1691091651337/work
oauthlib==3.2.2
omegaconf==1.4.1
onnxruntime==1.16.3
openai==1.7.0
opencv-python==4.9.0.80
opencv-python-headless==4.8.1.78
openpyxl==3.1.2
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt_einsum==3.4.0
orjson==3.10.7
outcome==1.3.0.post0
overrides==7.7.0
packaging @ file:///C:/b/abs_28t5mcoltc/croot/packaging_1693575224052/work
pandas==2.1.0
parso==0.8.3
path==16.10.0
Pillow==10.0.0
platformdirs==4.1.0
ply==3.11
pointnet2 @ git+https://github.com/erikwijmans/Pointnet2_PyTorch.git@b5ceb6d9ca0467ea34beb81023f96ee82228f626
pooch==1.8.0
posthog==3.6.6
pretrainedmodels==0.7.4
prompt-toolkit==3.0.41
protobuf==4.25.1
psutil==5.9.5
pure-eval==0.2.2
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.21
pydantic==2.9.1
pydantic_core==2.23.3
pydeck==0.9.1
pygame==2.5.2
Pygments==2.17.2
pylibtiff==0.6.1
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
pyperclip==1.9.0
PyPika==0.48.9
pyproject_hooks==1.1.0
PyQt5==5.15.7
PyQt5-sip @ file:///C:/Windows/Temp/abs_d7gmd2jg8i/croots/recipe/pyqt-split_1659273064801/work/pyqt_sip
pyreadline3==3.4.1
PySocks==1.7.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-docx==1.1.2
python-dotenv==1.0.1
pytorch-lightning==0.7.1
pytorch-wavelets==1.3.0
pytz==2023.3.post1
PyWavelets==1.5.0
PyYAML==6.0.1
QtPy==2.4.1
qudida==0.0.4
referencing==0.35.1
regex==2023.12.25
requests==2.31.0
requests-oauthlib==2.0.0
rich==13.7.0
roma==1.4.4
rpds-py==0.22.3
rsa==4.9
safetensors==0.4.5
scikit-image==0.17.1
scikit-learn==1.3.2
scipy==1.11.1
seaborn==0.12.2
selenium==4.16.0
sentence-transformers==3.1.1
shellingham==1.5.4
sip @ file:///C:/Windows/Temp/abs_b8fxd17m2u/croots/recipe/sip_1659012372737/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
stack-data==0.6.3
starlette==0.38.6
streamlit==1.40.2
sympy==1.12
tenacity==9.0.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorguard==1.0.0
termcolor==2.4.0
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tifffile==2023.9.26
timm==0.9.10
tokenizers==0.19.1
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli==2.0.1
torch==1.13.0+cu117
torch-cluster @ file:///I:/cervical/BaiduNetdiskDownload/torch_cluster-1.6.0%2Bpt113cu117-cp39-cp39-win_amd64.whl#sha256=502ce7c6b1a5cda6ab030c7b1549568f233442b3b2015707a3d0f6ed62aa6620
torch-scatter @ file:///I:/cervical/BaiduNetdiskDownload/torch_scatter-2.1.1%2Bpt113cu117-cp39-cp39-win_amd64.whl#sha256=6d7b8f500eafcf6447744bfc0bfe077ba0a0faa26b0b309163984ae39333a10b
torch-sparse @ file:///I:/cervical/BaiduNetdiskDownload/torch_sparse-0.6.15%2Bpt113cu117-cp39-cp39-win_amd64.whl#sha256=3ce20721a5f00fd48c99f28758724922c8243712f2b8ae3ca4bc28f33ead5ff5
torch-spline-conv @ file:///I:/cervical/BaiduNetdiskDownload/torch_spline_conv-1.2.1%2Bpt113cu117-cp39-cp39-win_amd64.whl#sha256=25913d9e1545ea304b739c603832a3232210a894f8f315922e52f5ae40444dce
torch_geometric==2.5.0
torchaudio==0.13.0+cu117
torchmetrics==1.3.2
torchsummary==1.5.1
torchvision==0.14.0+cu117
tornado @ file:///C:/b/abs_61jhmrrua1/croot/tornado_1690848767317/work
tqdm==4.66.1
traitlets==5.14.0
transformers==4.44.2
trio==0.23.1
trio-websocket==0.11.1
ttach==0.0.3
typer==0.12.5
typing_extensions==4.12.2
tzdata==2023.3
ultralytics==8.0.139
urllib3==1.25.11
utils==1.0.2
uvicorn==0.30.6
visdom==0.2.4
watchdog==6.0.0
watchfiles==0.24.0
wcwidth==0.2.12
websocket-client==1.7.0
websockets==13.1
Werkzeug==3.0.1
widgetsnbextension==4.0.9
wrapt==1.16.0
wsproto==1.2.0
yapf==0.40.2
yarl==1.9.4
zipp @ file:///C:/b/abs_b9jfdr908q/croot/zipp_1672387552360/work
